html{
    font-size: 16px;
    font-family: 'lato', sans-serif;
}

nav{
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-size: 1.5rem
}
.navbar-dark .navbar-brand{
    color: white;
    font-size: 1.5rem;
}


h1{
    margin: 10px;
}

h2{
    margin: 15px;
}

h3{
    margin: 15px;
}

h4{
    margin: 15px;
}

h6{
    margin: 15px;
}
p{
    margin:25px;
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

footer{
    
    color: white;
    font-size: 1.25rem;
}

.footer-h1{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}