html{
    margin: 15px 10px;
    font-size: 14px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 1.5;
    
}
nav{
    background-color: #2e294e;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: inline;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

nav a{
    color:#f46036ff;
}
@media (max-width: 768px){
    nav ul{
        display: block;
    }
    nav li{
        margin: auto;
        padding: 10px;
        text-align: center;
    }
}
h1{
    font-size: 2rem;
    color: #f46036ff;
}

h2{
    font-size: 1.75rem;
    color: #f46036ff;
}

h3{
    font-size: 1.5rem;
    color: #f46036ff;
}

p{
    font-size: 1.25rem;
    color: #2e294e;
    
}

a {
    padding: 2px 1px 0px;
}

a:link {
        color: #1b998b;
        border-bottom: 1px solid;
}

a:visited{
        color: #e71d36;
}

a:focus {
    border-bottom: 1px solid;
    background: #1b998bff;
}

a:hover {
    font-weight: bold;
    border-bottom: 1px solid;
    background: #c5d86d;
}

a:active {
    background: #1b998b;
    color: #e71d36;
}

