html{
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif; 
}

nav{
    font-size: 18px;
}

navbar-dark .navbar-nav .nav-link
 {
    color: #053c5e;
    font-size: 18px;
}

.navbar-brand{
    color: #053c5e;
    font-size: 18px;
}

h1{
    margin: 10px;
}

h2{
    margin: 15px;
}

h3{
    margin: 15px;
}

h4{
    margin: 15px;
}

h6{
    margin: 15px;
}
p{
    margin:25px;
}

#box1{
    background-color: cyan;
    color: white;

}

#box2{
    background-color: purple;
    color: black;
}

#box3{
    background-color:steelblue;
    color: yellow;
}